from __future__ import annotations

from importlib.metadata import PackageNotFoundError, version

try:
    __version__ = version("{{ project_name }}")
except PackageNotFoundError:
    # Package is not installed, fallback to a default version
    __version__ = "0.0.0.dev0"

__all__ = ["__version__"]

{% if include_fastapi %}
from .api import app

__all__ += ["app"]
{% endif %}

{% if include_arq %}
from .worker import WorkerSettings

__all__ += ["WorkerSettings"]
{% endif %}